<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utbm.tx.quizz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CoursActivity"
            android:configChanges="orientation|screenSize"
            android:label="Cours">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LectureActivity"
            android:configChanges="orientation|screenSize"
            android:label="Choisir ce cour">
        </activity>
        <activity
            android:name=".JouerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_jouer" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".GameModeActivity"
            android:label="@string/title_activity_game_mode" >
        </activity>
        <activity
            android:name=".ChoiceScoreActivity"
            android:label="@string/title_activity_choice_score" >
        </activity>
        <activity
            android:name=".ClassicEvolutionActivity"
            android:label="@string/title_activity_score_classique" >
        </activity>
        <activity
            android:name=".ThemeEvolutionActivity"
            android:label="@string/title_activity_score_theme" >
        </activity>
        <activity
            android:name=".AllEvolutionActivity"
            android:label="@string/title_activity_score_all" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>
